{% load staticfiles %}
<!--DOCTYPE html -->
<html>
<head>
<title>{% block head_title %}CANCER INFORMATION{% endblock head_title %}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href='{%static "posts/css/styles.css" %}' rel="stylesheet" type="text/css" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' >


<link rel='stylesheet' href='{% static "posts/css/base.css" %}' />
<style>
{% block style %}{% endblock style %}
</style>

{% block head_extra %} {% endblock head_extra %}
</head>
<body>
<div class="header">
  <div class="header-left-panel">
    <div class="logo-wrap">
      <div class="logo">
        <h2></h2>
        <h1 align="center">Cancer</h1>
      </div>
    </div>
  </div>
  <div class="header-right-panel">
    <div class="header-right-panel-top">
      <p>Call Us : 000 888 8888

    </div>
    <div class="menu">
      <ul>
        <li class="marRight20"><a   href="{% url 'posts:index' %}">home</a></li>
        <li class="marRight20"><a href="{% url 'posts:about' %}">about</a></li>
        <li><a  href="{% url 'posts:types' %}">types</a></li>
        <li><a href="{% url 'posts:list' %}">Ask Questions</a></li>
      </ul>
    </div>
  </div>
</div>
<div class='container'> 
    <ul class='h'>
        


        {% if not request.user.is_authenticated %}
        <li class='pull-right' class="marRight20"><a href='{% url "register" %}'>Register</a></li>
        <li class='pull-right' class="marRight20"><a href='{% url "login" %}'>Login</a></li>
        {% else %}
        <li class='pull-right' class="marRight20"><a href='{% url "logout" %}'>Logout</a></li>
        {% endif %}


        {% if request.user.is_authenticated %}
        <li class='pull-right' class="marRight20"><a href='{% url "posts:create" %}'>Create Post</a></li>
        {% endif %}

        {% if instance.user == request.user %}
           <li class='pull-right' class="marRight20"><a href='{{ instance.get_absolute_url }}delete/'>Delete Post</a></li>
        {% endif %}

        <li class='pull-right' class="marRight20"><a href='{% url "posts:list" %}'>Home</a></li>

    </ul>
</div>
{% block content %}{% endblock content %}
</div>
<!-- Latest compiled and minified JavaScript -->
<script   src="http://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>

<script type="text/javascript">
$(document).ready(function(){
    $(".content-markdown").each(function(){
            var content = $(this).text()
            var markedContent = marked(content)
            $(this).html(markedContent)
    })
    $(".post-detail-item img").each(function(){
            $(this).addClass("img-responsive");
    })

    

    var contentInput = $("#id_content");

    function setContent(value){
        var markedContent = marked(value)
        $("#preview-content").html(markedContent)
        $("#preview-content img").each(function(){
            $(this).addClass("img-responsive")
        })
    }
    setContent(contentInput.val())

    contentInput.keyup(function(){
        var newContent = $(this).val()
        setContent(newContent)
    })

    var titleInput = $("#id_title");
    


    function setTitle(value) {
        $("#preview-title").text(value)
    }
    setTitle(titleInput.val())

    titleInput.keyup(function(){
        var newContent = $(this).val()
        setTitle(newContent)
    })

    $(".comment-reply-btn").click(function(event){
        event.preventDefault();
        $(this).parent().next(".comment-reply").fadeToggle();
    })


    // preview-title
    // preview-content

})

</script>
<div class="clearing"></div>
<!--- page wrap div end -->
<div class="footer">
    <p>Copyright (c) Cancer Information. All rights reserved.</p>
</div>
</body>
</html>




