{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}


{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
<div class="panel-wrap">
  <div class="panel-wrapper">

<div class='col-sm-6 col-sm-offset-4'>
  <h1 align="center" style="color:black">DELETE CONFIRMATION</h1>
        
      
            <form method="POST" action="." align="center"> {% csrf_token %}
                <p align="center" style="color:black">Are you sure you want to delete: "{{ object.content }}"?</p>
              
                <input type='submit' value='Confirm' class='btn btn-warning'>
                <a href='{{ object.get_absolute_url }}' class='btn btn-default'>Cancel</a>
            </form>
        </div>

    

</div>

</div>

{% endblock content %}
