{% extends "base.html" %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' >

{% block head_extra %} 
{{ form.media }}

{% endblock head_extra %}



{% block content %}
<div class='col-sm-6' >
<br><br><br>
<h1 style="color:white">Preview</h1>
<hr/>
<div class='content-preview'>
    <h3 id='preview-title' style="color:white"></h3>
    <h4 id='preview-content'></p>
</div>
</div>
<div class="panel-wr">
  <div class="panel-wrapper">
<div class='col-sm-6'>
<h1 style="color:black">Post Window</h1>
<hr/>

<form method='POST' action='' enctype='multipart/form-data' style="color:black">{% csrf_token %}
{{ form|crispy }}
<input type='submit' class='btn btn-default' value='Create Post' />
</form>
</div>
</div>
</div>

{% endblock content %}