{% extends 'base2.html' %}
{% load staticfiles %}
{% block content %}

<div class="header">
  <div class="header-left-panel">
    <div class="logo-wrap">
      <div class="logo">
        <h2></h2>
        <h1 align="center">Cancer</h1>
      </div>
    </div>
  </div>
  <div class="header-right-panel">
    <div class="header-right-panel-top">
      <p>Call Us : 000 888 8888

    </div>
    <div class="menu">
      <ul>
        <li class="marRight20"><a   href="{% url 'posts:index' %}">home</a></li>
        <li class="marRight20"><a href="{% url 'posts:about' %}">about</a></li>
        <li><a class="active" href="{% url 'posts:types' %}">types</a></li>
        <li><a href="{% url 'posts:list' %}">Ask Questions</a></li>
      </ul>
    </div>
  </div>
</div>
<!--- panel wrap div end -->
<div class="page-wrap">
  <div class="page-wrapper">
    <div class="primary-content marRight30">
      <div class="mid-panel">
        <div class="panel">
          <div class="title">
            <h1> bladder cancer</h1>
            <h2>Bladder cancer is a type of cancer that begins in your bladder, a balloon-shaped organ in your pelvic area that stores urine. Bladder cancer begins most often in the cells that line the inside of the bladder.</h2>
          </div>
          <div class="content marginTop"> <img src="{% static 'posts/images/img-4.jpg' %}" width="200" height="200" class="marRight30"/>
            <h2>Transitional cell bladder cancer</h2>
            <p>About 9 out of 10 bladder cancers in the UK (90%) are the transitional cell type, which is sometimes called urothelial cancer. It is a cancer that develops from the cells of the bladder lining (urothelium). The cells are called transitional cells. When the bladder is empty, they are all bunched together. When the bladder is full, they are stretched out into a single layer. Because they line the bladder, these cells come into contact with waste products in the urine that may cause cancer, such as chemicals in cigarette smoke.</p>
            
          </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src="{% static 'posts/images/img-5.jpg' %}" width="200" height="200" class="marRight30"/>
            <h2>Non muscle invasive (superficial) bladder cancer</h2>
            <p>Superficial bladder cancers are early stage transitional cell bladder cancers. The cancer is only in the lining of the bladder and hasn't grown into the deeper layers of the bladder wall. It usually appears as small growths, shaped like mushrooms, growing out of the bladder lining. This is called papillary bladder cancer. Your surgeon can remove these growths and they may never come back.</p>
            
          </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src="{% static 'posts/images/img-6.jpg' %}" width="200" height="200" class="marRight30"/>
            <h2>Invasive bladder cancer</h2>
            <p>Transitional cell bladder cancer can become invasive. This means it has grown into the muscle layer of the bladder, or beyond. Some people have invasive bladder cancer when they are first diagnosed. Invasive bladder cancer needs more intensive treatment than superficial bladder cancer. This is because there is a risk that it could spread to other parts of the body. Invasive bladder cancers are divided into T2, T3 or T4. This is part of the staging of bladder cancer.</p>
            
          </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src="{% static 'posts/images/img-7.jpg' %}" width="200" height="200" class="marRight30"/>
            <h2>Squamous cell bladder cancer</h2>
            <p>Squamous cells are flat cells that make up the moist, skin like, tissues lining the body organs. About 5 out of every 100 (5%) bladder cancers in the UK are squamous cell cancers. They are more common in developing countries where a worm infection called bilharzia or schistosomiasis is widespread.</p>
            
          </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src="{%static 'posts/images/img-8.jpg' %}" width="200" height="200" class="marRight30"/>
            <h2>Adenocarcinoma of the bladder</h2>
            <p>This is a very rare type of bladder cancer. Between 1 and 2 out of every 100 people diagnosed with bladder cancer have this type (1 to 2%). It is a cancer that develops from the cells in the lining of the bladder that produce mucus. All the moist, skin like, tissues lining the body have some gland cells that produce mucus</p>
            <br>
			<br>
			<br>
			<br>
			
<h2>Symptoms of Bladder Cancer</h2>			
<h3>Blood in the urine</h3><br>
<p>Changes in bladder habits or symptoms of irritation</p>
<p>	Having to urinate more often than usual</p>
<p>	Pain or burning during urination</p>
<p>	Feeling as if you need to go right away, even when the bladder is not full</p>
<p>	Having trouble urinating or having a weak urine stream</p>
<p>Symptoms of advanced bladder cancer</p>
<p>	Being unable to urinate</p>
<p>	Lower back pain on one side</p>
<p>	Loss of appetite and weight loss</p>
<p>	Feeling tired or weak</p>
<p>	Swelling in the feet</p>
<p>	Bone pain</p>

<h2>Causes of Bladder Cancer</h2>
<h3>Bladder cancer risk factors include:</h3><br>
<p>	Bladder defects from birth</p>
<p>	Chemotherapy and radiation therapy</p>
<p>	Chronic bladder infections and irritations</p>
<p>	Exposure to certain chemicals including aromatic amines</p>
<p>	Low fluid consumption</p>
<p>	Personal or family history of bladder cancer</p>

<h2>Treatment of Bladder Cancer</h2>			
<h3>Chemotherapy</h3><br>
<p>Intravesical chemotherapy. Intravesical (local) chemotherapy is usually given by a urologist. During this type of therapy, drugs 
are delivered into the bladder through a catheter that has been inserted through the urethra.</p><br>
<p>Systemic chemotherapy. Systemic (whole body) chemotherapy is usually prescribed by a medical oncologist, 
a doctor who specializes in treating cancer with medication.</p>

<h3>Surgery</h3><br>
<p>Transurethral bladder tumor resection (TURBT). This procedure is used for diagnosis and staging, as well as treatment. 
Cystectomy. A radical cystectomy is the removal of the whole bladder and possibly nearby tissues and organs.
Urinary diversion. If the bladder is removed, the doctor will create a new way to pass urine out of the body. One way to do this is to use a section of the small intestine or colon to divert urine to a stoma or ostomy (an opening) on the outside of the body. The patient then must wear a bag attached to the stoma to collect and drain urine.
</p><br>

<h3>Immunotherapy</h3><br>
<p>Immunotherapy, also called biologic therapy, is designed to boost the body’s natural defenses to fight the cancer. It uses materials made either 
by the body or in a laboratory to improve, target, or restore immune system function.
</p><br>

<h3>Radiation therapy</h3>
<p>•	To destroy any cancer cells that may remain after TURBT to avoid removing all or part of the bladder</p>
<p>•	To relieve symptoms caused by a tumor, such as pain, bleeding, or blockage</p>
<p>•	To treat a metastasis located in one area, such as the brain or bone</p>



          </div>
          <div class="clearing"></div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="page-wrap">
  <div class="page-wrapper">
    <div class="primary-content marRight30">
      <div class="mid-panel">
        <div class="panel">
          <div class="title">
            <h1>Skin Cancer</h1>
            <h2>Skin cancers include melanoma, basal cell, and squamous cell. Basal and squamous cell are common and treatment is very effective. Malignant melanoma can be difficult to treat. Early diagnosis and treatment can increase the survival rate from melanoma.</h2>
          </div>
          <div class="content marginTop"> <img src="{% static 'posts/images/img-9.jpg' %}" width="200" height="200" class="marRight30"/>
            <h2>Basal Cell Carcinoma Skin Cancer</h2>
            <p>Basal cell carcinoma is a cancerthat grows on parts of your skinthat get a lot of sun. It's natural to feel worried when your doctor tells you that you have it, but keep in mind that it's the least risky type of skin cancer. As long as you catch it early, you can be cured.</p>
<br><br><br><br><br>
<h2>Causes</h2>
<p>Ultraviolet (UV) rays from the sun or from a tanning bed are the main cause of basal cell carcinoma.
When UV rays hit your skin, over time, they can damage the DNA in your skin cells. The DNA holds the code 
for the way these cells grow. Over time, damage to the DNA can cause cancer to form. The process takes many years.
</p><br>

<h2>Symptoms</h2>
<p>Basal cell carcinoma can look different. You may notice a skin growth in a dome shape that has blood vessels in it. It can be pink, brown, or black.
At first, a basal cell carcinoma comes up like a small "pearly" bump that looks like a flesh-colored mole or a pimple 
that doesn’t go away. Sometimes these growths can look dark. Or you may also see shiny pink or red patches that are slightly scaly.
</p><br>

<h2>Treatment</h2>
<p>Cutting out the tumor. Your doctor may call this an "excision." First he'll numb the tumor and the skin around it. Then he'll scrape the tumor with a spoon-shaped device. Next he'll cut out the tumor and a small surrounding area of normal-appearing 
skin and send it to a lab.</p><br>
<p>Scraping the tumor away and using electricity to kill cancer cells. You may hear your doctor call this "curettage and desiccation." First your doctor numbs your skin. Then he uses a curette, a tool that has spoon-like shape to scrape off the tumor. Your doctor controls your bleeding 
and kills any other cancer cells with an electric needle.</p><br>
<p>Freezing your cancer cells. This is known as "cryosurgery." Your doctor kills your cancer cells by freezing them with liquid nitrogen.</p><br>

          </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src="{% static 'posts/images/img-10.jpg' %}" width="200" height="200" class="marRight30"/>
            <h2>MELANOMA Skin Cancer</h2>
            <p>Skin cancers include melanoma, basal cell, and squamous cell. Basal and squamous cell are common and treatment is very effective. Malignant melanoma can be difficult to treat. Early diagnosis and treatment can increase the survival rate from melanoma.</p>
<br><br><br><br><br>
<h2>Causes</h2>
<p>Ultraviolet rays. Most skin cancers are caused by too much exposure to the sun’s ultraviolet (UV) rays. The two types of UV rays that cause melanoma are UV-A and UV-B rays. UV-A rays are fairly constant throughout the year, and contribute to aging and wrinkling of the skin. UV-B rays, stronger than UV-A rays, are more intense in the summer months and are the most common cause of sunburn. The longer you are out in the sun, the more UV radiation you receive. A blistering sunburn at an early age can double a person’s chance of developing melanoma later in life.</p>

<p>Tanning Beds Tanning. beds emit UV rays to speed up the skin tanning process, which has made them especially popular with young people. However, exposure to tanning beds before age 30 increases a person’s risk of developing melanoma. Younger people who regularly use tanning beds are eight times more likely to develop melanoma than people who have never used them. Even occasional use of tanning beds by people under 30 increases the chances of developing melanoma.</p>      
 
<h2>Symptoms</h2>
<p>You may not have any symptoms in the early stages of melanoma. Or a melanoma may be sore, or it may itch or bleed.
Most melanomas start as a new skin growth on unmarked skin. The growth may change color, shape, or size. These types of changes are an early sign that the growth is melanoma. But melanoma can also develop in an existing mole or other mark on the skin. Or it may look like a bruise that isn't healing or show up as a brown or black streak under a fingernail or toenail.
</p><br> 

<h2>Treatment</h2>
<p>	Surgery</p>
<p>	Immunotherapy</p>
<p>	Targeted therapy</p>
<p>	Chemotherapy</p>
<p>	Radiation therapy</p>


		  </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src="{% static 'posts/images/img-11.jpg' %}" width="200" height="200" class="marRight30"/>
            <h2>Merkel cell carcinoma Skin Cancer</h2>
            <p>Merkel cell carcinoma is a rare type of skin cancer that usually appears as a flesh-colored or bluish-red nodule, often on your face, head or neck. Merkel cell carcinoma is also called neuroendocrine carcinoma of the skin.</p>
<br><br><br><br><br><br>
<h2>Causes</h2>   
<p>Immune suppression and MCC are strongly linked. Individuals whose immune systems are chronically suppressed (such as HIV patients or those who have received organ transplants and must take immune-suppressing drugs) are more than 15 times likelier to develop MCC than those who are not immunosuppressed. Merkel cell carcinoma occurs at a significantly younger age in patients with organ transplants and HIV infections; </p><br>        
          
<h2>Symptoms</h2>
<p>Merkel cell carcinoma (MCC) usually starts on areas of skin exposed to the sun, especially the face, neck, arms, and legs, but it can occur anywhere on the body. It often first appears as a single pink, red, or purple bump that is not usually painful. Sometimes the skin on the top of the tumor might break open and bleed.
These tumors can grow quickly. They might spread as new lumps in the surrounding skin. They might also reach nearby lymph nodes (small collections of immune system cells throughout the body). Over time, the lymph nodes might grow large enough to be seen or felt as lumps under the skin (usually in the neck or under the arm).
Merkel cell carcinoma is not common, and it can look like many other, more common types of skin cancer or other skin problems when it first appears. Because of this, doctors do not usually suspect MCC at first, and the diagnosisis often made only after the tumor is biopsied.
It’s very important to have any new, growing, or changing lumps, bumps, or spots on your skin checked by a doctor as soon as possible so that the cause can be found and treated, if needed. The earlier any type of skin cancer is found, the more likely it can be treated effectively.
</p><br>

<h2>Treatment</h2>	
<p>	Surgery</p>
<p>	Chemotherapy</p>
<p>	Radiation therapy</p>
          </div>
          <div class="clearing"></div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="page-wrap">
  <div class="page-wrapper">
    <div class="primary-content marRight30">
      <div class="mid-panel">
        <div class="panel">
          <div class="title">
            <h1>Brain Cancer</h1>
            <h2>Brain cancer can have a wide variety of symptoms including seizures, sleepiness, confusion, and behavioral changes. Not all brain tumors are cancerous, and benign tumors can result in similar symptoms.</h2>
          </div>
          <div class="content marginTop"> <img src="{% static 'posts/images/img-12.jpg' %}" width="200" height="200" class="marRight30"/>
            <h2>Acoustic Neuroma</h2>
            <p>An acoustic neuroma is also known as a schwannoma, vestibular schwannoma, or neurilemmoma.</p>

<h2>Characteristics</h2>
<p>•	Arises from cells that form a protective sheath around nerve fibers</p>
<p>•	Typically grows around the eighth cranial nerve, but can be found around other cranial or spinal nerves</p>

<br>

<h2>Symptoms</h2>
<p>•	Hearing loss in one ear</p>
<p>•	Dizziness or vertigo</p>
<p>•	Tinnitus (ringing in the ear)</p>
<p>•	Tingling or numbness in the face</p>
<p>•	Walking and balance problems</p>
<p>•	Lack of coordination</p>
<br>

<h2>Treatment</h2>
<p>An acoustic neuroma may be observed in order to monitor its growth, or surgery may be performed. The goal of surgery is the complete removal of the tumor without harming the seventh cranial nerve (which controls facial movement) or causing hearing loss. Radiosurgery can be a viable option for many patients. This focused, high-energy radiation prevents the growth of acoustic neuromas, but actual shrinkage of the tumor may never occur or may take several months.</p>
          
		  </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src="{% static 'posts/images/img-13.jpg' %}" width="200" height="200" class="marRight30"/>
            <h2>Chordoma </h2><br>

<h2>Characteristics</h2>
<p>•	Rare and low grade
<p>•	Occurs at the sacrum, near the lower tip of the spine, or at the base of the skull</p>
<p>•	Originates from cells left over from early fetal development</p>
<p>•	Invades the bone and soft tissues but rarely the brain tissue</p>



<br>
<h2>Symptoms</h2>
<p>•	Double vision</p>
<p>•	Headaches</p>

<br> 

<h2>Treatment</h2>
<p>Surgery and radiation therapy are the common forms of treatment. Chordomas at the base of the skull can be difficult to remove. Surgical resection may be possible if the tumor is located in the spine.</p>


		  </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src="{% static 'posts/images/img-14.jpg' %}" width="200" height="200" class="marRight30"/>
            <h2>CNS Lymphoma</h2>
            <p>CNS Lymphoma is a type of cancer that develops in the lymphatic system. The lymphatic system is a network of small organs called lymph nodes and vessels (similar to blood vessels) that carry a clear, watery fluid called lymph throughout the body. This fluid supplies cells called lymphocytes that fight disease and infection. To correctly diagnose primary CNS Lymphoma, staging must be done. Staging is the process of using CT scanning to examine many parts of the body.</p>
<h2>Characteristics</h2>
<p>•	Very aggressive</p>
<p>•	Usually involves multiple tumors throughout the central nervous system (CNS)</p>
<p>•	More common in people whose immune systems are compromised</p>
<p>•	Often develops in the brain, commonly in the areas adjacent to the ventricles</p>
<p>•	Can be primary (originating in the brain) or secondary</p>
<p>•	Most common among men and women in their 60s-80s, but incidence is increasing in young adults</p>
<p>•	More common in men than women</p>
<p>•	Accounts for about two percent of all brain tumors</p><br>

       
<h2>Symptoms</h2>
<p>•	Headaches</p>
<p>•	Partial paralysis on one side of the body</p>
<p>•	Seizures</p>
<p>•	Cognitive or speech disorders</p>
<p>•	Vision problems</p>
<br>

<h2>Treatment</h2>	
<p>Radiation therapy, chemotherapy, and steroids are the most common forms of treatment. Surgery is rarely an option because there are usually multiple lesions. However, a biopsy at the start of steroid treatment can be critical to ensure the correct diagnosis.</p>

		  </div>
          <div class="clearing"></div>
          <div class="content marginTop"> <img src="{% static 'posts/images/img-15.jpg' %}" width="200" height="200" class="marRight30"/>
            <h2>Craniopharyngioma</h2><br>
            
<h2>Characteristics</h2>
<p>•	Most common in the parasellar region, an area at the base of the brain and near the optic nerves</p>
<p>•	Also grows in the regions of the optic nerves and the hypothalamus, near the pituitary gland</p>
<p>•	Tends to be low grade</p>
<p>•	Often accompanied by a cyst</p>


       
<h2>Symptoms</h2>
<p>•	Headaches</p>
<p>•	Visual changes</p>
<p>•	Weight gain</p>
<p>•	Delayed development in children</p>

<br>

<h2>Treatment</h2>	
<p>Surgery is the most common treatment. Radiation therapy may be used.</p>
  
	</div>
          <div class="clearing"></div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
